# Practice 1

In [108]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
%matplotlib inline

In [187]:
# Load dataset
data = pd.read_csv('gunviolence.csv')

## Pre-processing

In [146]:
data.shape

(239677, 29)

In [147]:
data.head(2)

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0

In [188]:
data = data[['incident_id', 'date', 'state', 'city_or_county', 'n_killed', 'n_injured', 'congressional_district', 'gun_stolen', 'gun_type', 'n_guns_involved', 'participant_age', 'participant_age_group', 'participant_gender', 'participant_name', 'participant_status', 'participant_type']]
data.head(1)

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,gun_stolen,gun_type,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_name,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14.0,NaN,NaN,NaN,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...

In [156]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 16 columns):
incident_id               239677 non-null Int64
date                      239677 non-null object
state                     239677 non-null object
city_or_county            239677 non-null object
n_killed                  239677 non-null Int64
n_injured                 239677 non-null Int64
congressional_district    227733 non-null Int64
gun_stolen                239677 non-null object
gun_type                  239677 non-null object
n_guns_involved           140226 non-null Int64
participant_age           239677 non-null object
participant_age_group     239677 non-null object
participant_gender        239677 non-null object
participant_name          239677 non-null object
participant_status        239677 non-null object
participant_type          239677 non-null object
dtypes: Int64(5), object(11)
memory usage: 30.4+ MB

In [189]:
# Correcting data types
types = ['Int64', str, str, str, 'Int64', 'Int64', 'Int64', str, str, 'Int64', str, str, str, str, str, str]
for i in range(len(types)):
    data.iloc[:, i] = data.iloc[:, i].astype(types[i])

In [228]:
# Cleaning columns
col_fix = ['gun_stolen', 'gun_type', 'participant_age', 'participant_age_group', 'participant_gender', 'participant_name', 'participant_status', 'participant_type']

data1 = pd.DataFrame()
exp = re.compile('\d::')
for i in col_fix:
    data[i] = data[i].apply(lambda x: np.array(exp.sub('', x.replace('||', ', '))))

,incident_id,date,state,city_or_county,n_killed,n_injured,congressional_district,gun_stolen,gun_type,n_guns_involved,participant_age,participant_age_group,participant_gender,participant_name,participant_status,participant_type
0,461105,2013-01-01,Pennsylvania,Mckeesport,0,4,14,nan,nan,NaN,20,"Adult 18+, Adult 18+, Adult 18+, Adult 18+, Ad...","Male, Male, Male, Female",Julian Sims,"Arrested, Injured, Injured, Injured, Injured","Victim, Victim, Victim, Victim, Subject-Suspect"
1,460726,2013-01-01,California,Hawthorne,1,3,43,nan,nan,NaN,20,"Adult 18+, Adult 18+, Adult 18+, Adult 18+",Male,Bernard Gillis,"Killed, Injured, Injured, Injured","Victim, Victim, Victim, Victim, Subject-Suspect"
2,478855,2013-01-01,Ohio,Lorain,1,3,9,"Unknown, Unknown","Unknown, Unknown",2,"25, 31, 33, 34, 33","Adult 18+, Adult 18+, Adult 18+, Adult 18+, Ad...","Male, Male, Male, Male, Male","Damien Bell, Desmen Noble, Herman Seagers, Lad...","Injured, Unharmed, Arrested, Unharmed, Arreste...","Subject-Suspect, Subject-Suspect, Victim, Vict..."
3,478925,2013-01-05,Colorado,Aurora,4,0,6,nan,nan,NaN,"29, 33, 56, 33","Adult 18+, Adult 18+, Adult 18+, Adult 18+","Female, Male, Male, Male","Stacie Philbrook, Christopher Ratliffe, Anthon...","Killed, Killed, Killed, Killed","Victim, Victim, Victim, Subject-Suspect"
4,478959,2013-01-07,North Carolina,Greensboro,2,2,6,"Unknown, Unknown","Handgun, Handgun",2,"18, 46, 14, 47","Adult 18+, Adult 18+, Teen 12-17, Adult 18+","Female, Male, Male, Female","Danielle Imani Jameison, Maurice Eugene Edmond...","Injured, Injured, Killed, Killed","Victim, Victim, Victim, Subject-Suspect"